/* ScrollIndicator.module.css */
.container {
    position: fixed;
    top: 50%;
    right: 70px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 10000;
}

.box {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


@media screen and (max-width: 800px){

    .container{
        right: 30px;
    }

    .box{
        width: 18px;
        height: 18px;
    }
}


