
@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Meow+Script&family=Parisienne&family=Playwrite+IN:wght@100..400&family=Scheherazade+New:wght@400;500;600;700&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

.header_space{
    height: 10vh;
    width: 100vw;
}

.header_row{
    position: relative;
}

.upContainer{
    position: absolute;
    border: 2px solid green;
    left: -20px;
    top:0;
}


.up{
    cursor: pointer;
    color: var(--font-plum);

    border: 2px solid red;
}

.up:hover{
    transition: 0.2s ease;
}



.title_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 50px;
    width: 30%;
    margin-bottom: 10px;
    padding-bottom: 2px;
    margin-top:10px;
}


.mobileMenuContainer{
    display: none;
}




.title_container h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: relative;
    top: 2px;
}

.title_container h3{
    text-align: center;
    position: relative;
    position: relative;
    top: 2px;
    font-size: 0.9rem;
}


.navigationContainer{
    display: flex;
    justify-content: center;
    width: 80%;
}


.navigationContainer ul{
    display: flex;
}

.navigationContainer ul li{
   font-size: 0.9rem;
   letter-spacing: 1px;
   margin: 0px 40px;
}

.navigationContainer ul li:hover{
    cursor: pointer;
    transition: 0.4s ease;
    color: var(--font-plum);
}


.languageContainer {
    width: 10%;
    display: flex;
    justify-content: center;
    position: absolute;
    animation: fadeIn 4s ease forwards;
    right: 15px;
    background-color: rgba(255, 255, 255, 0.8);
    top: var(--top-position); 
}




.language_btn{
    margin: 0 10px;
    flex-grow: 1;
    font-size: 1.5rem;
    cursor: pointer;
}


.headerImage_row{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    font-size: 20px;
    overflow: hidden;
    position: relative;

}



.innerContextContainer{
    width: 100%;
    height: 100%;
    z-index: 1000;


}

.subTitle{
    font-family: 'Playwrite India', cursive;
    color: var(--font-plum);
    font-size: 2rem;
    width: 100%;
}


.andContainer{
    color: var(--font-plum-light);
    position: absolute;
    top:50px;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7rem;
    z-index: -10; 
    animation: fadeIn 4s ease forwards;
}

.description{
    width: 400px;
    color: var(--font-plum);
    font-family: 'Source Serif 4', cursive;
    font-size: 1.3rem;
    margin-top: 30px;
}

.skillsContainer{
    width: 100%;
    display: flex;
    justify-content: start; 
    align-items: center;
    padding: 0; 
    margin: 0;
    margin-top: 10px;
    overflow-x: scroll;
}

.skillsDiv {
    width:200px; 
    margin: 0px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    height: 50px;
    
}

.skillsDiv:hover {
    transform: scale(1.05); 
    cursor: pointer;
}

.skillsDiv:hover .backgroundCircle {
    opacity: 1; 
}

.portrait{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    right: 0px;
    background-color: linear-gradient(to right,  rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

.gradientOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    z-index: 500; 
}



.hidden{
    opacity: 0; 
}

.visible{
    opacity: 1; 
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}



@media screen and (max-width: 1200px){


    .title_container{
        left: 100px;
        margin: 0px;
    }

    .navigationContainer{
        width: 100%;
        display: flex;
        justify-content: center;
        left: 0;
    }


    
}

@media screen and (max-width: 1000px){
    .title_container{
        left: 70px;
    }

    .title_container h1{
        font-size: 0.9rem;
    }

    .title_container h3{
        font-size: 0.7rem;
    }

    .navigationContainer ul li{
        font-size: 0.8rem;
    }

    .skillsDiv{
        width: 80px;
    }
}

@media screen and (max-width: 980px){

    .andContainer{
        top: 50px;
    }

    .subTitle{
        width: 400px;
    }

    .skillsContainer{
        margin: 0;
        margin-top: 4px;
    }
}


@media screen and (max-width: 900px){


    .mobileLanguageButton{
        display: inline-block;
        position: absolute;
        top: 15px;
        right: 20px;
    }

    .mobileLanguageButton:hover{
        color: var(--font-plum);
    }


 
}


@media screen and (max-width: 800px){
    .header_row{
        flex-direction: column;
        position: relative;
        justify-content: space-between;
    }

    .title_container{
        width: 100%;
        left: 0;
        top: 0;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-left: 20px;
        padding-top: 8px;
    }

    .title_container h1{
        top: 0;
        font-size: 1.1rem;
    }

    .title_container h3{
        display: none;
    }

    .navigationContainer{
  
        justify-content: center;
        margin-left: 0px;
        padding: 2px 0px;
     
    }

    .navigationContainer ul li{
        font-size: 1rem;
    }


    .gradientOverlay{
        background-color: transparent;
        padding: 0;
    }

 
}

@media screen and (max-width: 770px){
    .andContainer{
        top: 5px;
    }

    
}


@media screen and (max-width: 600px){


    .header_space{
        height: 12vh;
    }

    .title_container{
        margin:0;
        justify-content: start;
    }

    .navigationContainer{
        height: 100px;
        margin-top:10px;
    }

    .navigationContainer ul li{
        font-size: 0.9rem;
        margin: 2px 20px;
    }
 


    .language_btn{
        font-size: 1.3rem;
    }

    .navigationContainer{
        align-items: center;
        /*border: 2px solid gold;*/
    }


    
    .description{
        width: 200px;
    }

  

 
}


@media screen and (max-width: 500px){
    .skillsDiv{
        height: 40px;

    }


    .header_space{
        height: 14vh;
    }

    .title_container{
        margin-top:10px;
    }

    .navigationContainer{
        margin-top: 15px;
    }
   

    .navigationContainer ul li{
        font-size: 1rem;
        margin: 0px 10px;
    }


  
  
}

@media screen and (max-width: 400px){

    .navigationContainer ul li{
        font-size: 0.8rem;
        margin: 0px 10px;
        
    }

    .subTitle{
        width: 300px;
        font-size: 1.5rem;
    }

    .description{
        font-size: 1.2rem;
    }

    .andContainer{
        top: 0px;
        font-size: 6rem;
    }

    
    .skillsDiv{
        height: 30px;
        width: 40px;
    }



    .navigationContainer{

        margin: 0;
        position: relative;
        top: -1px;
    }
    
}