

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.closeContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
    z-index: 10000;
}
    


.infoContainer{
    position: relative;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--foreground-dark);
    width: 80vw;
    height: 96vh;
    overflow: scroll;
    position: relative;
    padding: 40px;
    box-shadow: 0px 1px 5px grey;
    margin: 20px 0px;
    z-index: 10000;


    
}

.closeBtn{
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 3rem;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.closeBtn:hover{
    transition: 0.4s ease;
    color: var(--font-plum);
}

.infoContainer h1{
    height: 8%;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
}

.infoContainer p{
    width: 100%;
    height: 100%;
    line-height: 35px;
    padding-right: 50px;
    margin-top: 10px;
    font-size: 1.1rem;
}



@media screen and (max-width: 1200px){
    .infoContainer{
        width: 95vw;
    }
}