



.language_btn{
    margin: 0 10px;
    flex-grow: 1;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.2s ease;
    position: relative;
    top: -1px;
}


.language_btn:hover{
    transform: scale(1.06);
}


 @media screen and (max-width: 1000px){

    .language_btn{
        right: -10px;
    }
 }

 