
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');


.aboutmeContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card{
    position: relative;
    width: 50%;
    height: 50vh;
    perspective: 1000px; 
    margin: 0;
    border: 1px solid white;
    font-size: 1.5rem;
    position: relative;
}

.cardFront,
.cardBack {
    position: absolute;
    width: 100%;
    height: 100%;
}


.cardContainer{
    margin: 20px 0px;
    padding: 0px 5px;
    font-size: 1rem;
    display: flex; 
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.cardTitle{
    font-size: 1rem;
    transition: 0.2s ease;
    z-index: 1000;
    background-color: rgba(255,255,255, 0.2);
    padding: 10px 5px;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
    cursor: pointer;
    font-family: "Source Serif 4", serif;
}

.cardTitle:hover{
    background-color: rgba(255,255,255, 0.3);
    color:var(--font-plum);
    font-size: 1.03rem;
}


.cardFront {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.cardImage{
    position: absolute;
    z-index: -10;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardBack {
    transform: rotateY(180deg); /* Rückseite umdrehen */
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.title{
    font-size: 1rem;
    font-weight: bolder;
}

.cardContainer{
    margin-top: 20px;
}

.detailsContainer{
    width: 98%;
}



.toggleSkillGroupButton{
    width: 100%;
    position: relative;
    left: -1px;
    text-align: start;
    margin-top: 15px;
    padding: 0px 10px;
    font-size: 1rem;
    font-weight: bolder;
    transition: 0.4s ease-in-out;
    height: 30px;
   
}

.toggleSkillGroupButton:hover{
    color: var(--font-plum);
    
}

.toggleSkillGroupButtonActive{
    color: var(--font-plum);
}

.table{
    font-size: 1rem;
    width: 100%;
}


.card.flipped .cardFront {
   transform: rotateY(180deg); /* Umklappen */
}


.listItem{
    font-size: 1rem;
    display: flex; 
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 20px 0px;
    padding: 0px 5px;
}

.listItemButton{
    padding: 5px;
    z-index: 100000;
    transition: 0.2s ease-in-out;
    width: 90%;
    display: flex;
    justify-content: start;
}


.listItemButton:hover{
    color: var(--font-plum);
}

.listItemDescription{
    font-size: 0.9rem;
    margin-top: 10px;    
}


.categoryDescription{
    font-size: 0.9rem;
    padding: 5px 10px;
    margin: 1px;
    background: rgba(0,0,0,0.1);
    width: 90px;
    height: 90px;
    overflow: hidden;
    display: flex;
    align-items: end;
    justify-content: center;
    position: relative;

}

.categoryDescriptionImageDiv{
    position: absolute;
    background-color: rgba(255,255,255, 0.5);
    width: 90%;
    height: 90%;
}

.categoryDescriptionText{
    font-size: 0.7rem;
    z-index: 1000;
    padding: 5px;
    width: 100%;
    background-color: rgba(255,255,255, 0.5);
}


.description{
    font-size: 1rem;
    padding: 10px;
    text-align: justify;
    margin: 0px 10px;
}

/*
.softSkillLink{
    border: 2px solid red;
    width: 100px;
    height: 100px;
    overflow: hidden;
}*/


@media screen and (max-width: 1000px){
    .card{
        width: 100%;
        height: 500px;
    }
/*
    .toggleSkillGroupButton{
        height: 234px;
    }

    .toggleSkillGroupButtonActive{
        height: 50px;
        margin: 0;
        margin-top: 10px;
        background-color: var(--font-plum);
        color: beige;
    }*/
}

@media screen and (max-width: 900px){

    .item_title{
        height: 50px;
    }
    .portfolio_item{
        flex-direction: column;
        margin-bottom: 40px;
        padding-top: 40px;
        height: 100vh;
    }

    .password{
        top: 0px;
    }

}

@media screen and (max-width: 700px){
    .toggleSkillGroupButton{
        text-align: center;
        height: 314px;
    }

    .toggleSkillGroupButtonActive{
        height: 50px;
        margin: 0;
        margin-top: 10px;
        background-color: var(--font-plum);
        color: beige;
    
    }
}

@media screen and (max-width: 700px){
  
    .card{
        width: 100%;
        height: 90vh;
    }

    .password{
       font-size: 0.8rem;
    }
}




