.aboutmeContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card{
    position: relative;
    width: 50%;
    height: 50vh;
    perspective: 1000px; 
    margin: 0;
    border: 1px solid white;
    font-size: 1.5rem;
}

.cardFront,
.cardBack {
    position: absolute;
    width: 100%;
    height: 100%;
}



.cardTitle{
    font-size: 1rem;
    transition: 0.2s ease;
    z-index: 1000;
    background-color: rgba(255,255,255, 0.2);
    box-shadow: 0px 0px 1.5px white;
    padding: 10px 5px;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
    cursor: pointer;
}

.cardTitle:hover{
    background-color: rgba(255,255,255, 0.4);
    color:var(--font-plum);
    letter-spacing: 1px;
    font-size: 1.04rem;
}


.cardFront {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.cardImage{
    position: absolute;
    z-index: -10;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardBack {
    transform: rotateY(180deg); /* Rückseite umdrehen */
    display: flex;
    align-items: center;
    justify-content: center;
}




.toggleSkillGroupButton{
    width: 100%;
    position: relative;
    left: -1px;
    text-align: start;
    margin-top: 15px;
    padding: 0px 10px;
    font-size: 1rem;
    font-weight: bolder;
    transition: 0.4s ease-in-out;
    height: 30px;
   
}

.toggleSkillGroupButton:hover{
    color: var(--font-plum);
    
}

.toggleSkillGroupButtonActive{
    color: var(--font-plum);
}

.table{
    font-size: 1rem;
}


.card.flipped .cardFront {
   transform: rotateY(180deg); /* Umklappen */
}


.listItem{
    font-size: 1rem;
    display: flex; 
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 20px 0px;

}

.listItemButton{
    padding: 5px;
    z-index: 100000;
    transition: 0.2s ease-in-out;
    width: 90%;
    display: flex;
    justify-content: start;
}


.listItemButton:hover{
    color: var(--font-plum);
}

.listItemDescription{
    font-size: 0.9rem;
    margin-top: 10px;
    padding: 0px 10px;
}

.categoryDescription{
    font-size: 0.9rem;
    padding: 2px 10px;

}


.description{
    font-size: 1rem;
    padding: 10px;
    text-align: justify;
    margin: 0px 10px;
}


@media screen and (max-width: 1000px){
    .card{
        width: 100%;
        height: 500px;
    }
/*
    .toggleSkillGroupButton{
        height: 234px;
    }

    .toggleSkillGroupButtonActive{
        height: 50px;
        margin: 0;
        margin-top: 10px;
        background-color: var(--font-plum);
        color: beige;
    }*/
}

@media screen and (max-width: 900px){

    .item_title{
        height: 50px;
    }
    .portfolio_item{
        flex-direction: column;
        margin-bottom: 40px;
        padding-top: 40px;
        height: 100vh;
    }

    .password{
        top: 0px;
    }

}

@media screen and (max-width: 700px){
    .toggleSkillGroupButton{
        text-align: center;
        height: 314px;
    }

    .toggleSkillGroupButtonActive{
        height: 50px;
        margin: 0;
        margin-top: 10px;
        background-color: var(--font-plum);
        color: beige;
    
    }
}

@media screen and (max-width: 700px){
  
    .card{
        width: 100%;
        height: 90vh;
    }

    .password{
       font-size: 0.8rem;
    }
}




