


/* #1: ABOUT ME */
/* #2: PORTFOLIO*/
/* #3: CONTACT */



/* -------------------- #1: ABOUT ME -------------------- */

.aboutmeContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    position: relative;
    width: 50%;
    height: 50vh;
    perspective: 1000px; 
    margin: 0;
    border: 1px solid white;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 1px;
    
}

.cardFront,
.cardBack {
    position: absolute;
    width: 100%;
    height: 100%;
}

.cardTitle{
    font-size: 1rem;
    transition: 0.4s ease;
    z-index: 1000;
    background-color: rgba(255,255,255, 0.2);
    box-shadow: 0px 0px 1.5px white;
    padding: 10px 5px;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
}

.cardTitle:hover{
    background-color: rgba(255,255,255, 0.4);
    color:var(--font-plum);
    letter-spacing: 1px;
    font-size: 1.04rem;
}


.cardFront {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardImage{
    position: absolute;
    z-index: -10;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardBack {
    transform: rotateY(180deg); /* Rückseite umdrehen */
    display: flex;
    align-items: center;
    justify-content: center;
}


.card.flipped .cardFront {
   transform: rotateY(180deg); /* Umklappen */
}



/* -------------------- #2: PORTFOLIO -------------------- */


.portfolio_container{
    width: 100%;
    min-height: 100vh;
    max-height: 150vh;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    background-color: white;
}


.portfolio_field{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    gap: 16px;
    overflow: scroll; 
    padding-bottom: 16px;
    padding: 5px;
}



.portfolio_item{
  background-color: white;
  height: 50vh;
  border-radius: 2px;
  overflow: scroll;
  cursor: pointer;
  transition: 0.2s ease;
  display: flex;
  position: relative;
  margin-bottom: 20px;
}

.password{
    position: absolute;
    top: 0;
    right: 0;
    color: red;
    margin: 2px 5px;

    /*"absolute top-0 border-2 right-0 text-red-500 my-2 mx-4"*/
}
.portfolio_item_imageDiv, .portfolio_item_description{
    width: 100%;
}



.description {
    width: 100%;
    height: 100%; 
    padding: 20px;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: white;
    overflow: scroll;
}

.description p{
    color: var(--font-plum);
    font-size: 1rem;
}

.link_div{
    position: relative;
    top: 10px;
    margin: 5px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project_link{
    margin: 0px 4px;
    font-size: 1.1rem;
}

.span{
    position: relative;
    top: 1px;
}

.project_link:hover{
    color:var(--font-plum);
}



.item_image_skillsDiv{
    padding: 4px;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
}

.skill{
    height: 60px;
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.skillIcon{
    width: 34x;
    height: 34px;
}

.skillIconDescription{
    font-size: 0.7rem;
}

.item_title{
    height: 43px;
    padding: 0px 5px;
    font-size: 1.4rem;
    margin-top: 15px;
    margin-bottom: 5px;
    border-bottom: 2px solid var(--font-plum);
}

.item_toggleButton{
    position: relative;
    left: 15px;
    font-size: 1rem;
}


.item_image{
    height: 100%;
    display: flex;
    align-items: center;
    background-color: white;

}



.item_subtitle{
    background: var(--font-plum);
    color: beige;
    padding: 5px;
    height: 20%;
}



@media screen and (max-width: 900px){

    .item_title{
        height: 50px;
    }
    .portfolio_item{
        flex-direction: column;
        margin-bottom: 40px;
        padding-top: 40px;
        height: 100vh;
    }
    

    .password{
        top: 0px;
    }
}

@media screen and (max-width: 700px){
  

    .password{
       font-size: 0.8rem;
    }
}

/* -------------------- #3: CONTACT -------------------- */


.flexContainer{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexContainer div{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100px;
    margin: 0 10px;
}

.contact_title, .aboutme_title{
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items:end;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    margin: 0;
    margin-top: 10px;
}

.flexContainer p{
    margin-top: 10px;
}

.icon{
    font-size: 3rem;
    cursor:pointer;
}

.icon:hover{
    transition: 0.4s ease;
    color: var(--font-plum);
}


@media screen and (max-width: 800px){

    .flexContainer{
        flex-direction: column;
        margin: 0px 5px;
        
    }

    .flexContainer div{
        margin: 30px 0px;
        width: 100%;
    }


    .icon{
        font-size: 2.5rem;
    }
}
