@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-dark: #F3F3F4;
  --background-dark:#883677;
  --background-light: #1C6E8C;
  --foreground-light: rgba(136, 54, 119, 0.2);
  --font-light: #E1E5EE;
  --font-dark: #605856;
  --font-plum: hsl(312, 43%, 37%);
  --font-plum-light: rgba(222, 171, 211, 0.5);
}


.home_container{
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.title{
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--foreground-light);
}

.container_main{
  display: flex;
  flex-direction:column;
  align-items: center;
  width: 100vw;
}



.sub_container{
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  padding-top: 7vh;
}

@media screen and (max-width: 800px){
  .sub_container{
  padding-top: 10vh;
  }
}